.coming-soon-container {
  background: url("../assets/bg.png");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.coming-soon-container h1 {
  color: white;
  font-size: 7rem;
  font-weight: 700;
}
