.congrats-card div h1 {
  color: #01265d;
  font-size: 2rem;
  font-weight: 600;
  width: 75%;
  margin: 0 auto;
}
.save-info-btn {
  background: #01265d;
  padding: 0.8rem 1.5rem;
  border-radius: 7px;
  margin-top: 1.5rem;
  color: white;
  float: left;
  font-weight: 600;
}
